create database [QUANLYQUANAN]
USE [QUANLYQUANAN]
GO
/****** Object:  Table [dbo].[TBL_BAN]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BAN](
	[MASOBAN] [varchar](5) NOT NULL,
	[SOBAN] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[SONGUOI] [int] NULL,
 CONSTRAINT [PK_TBL_BAN] PRIMARY KEY CLUSTERED 
(
	[MASOBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CHUCVU]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CHUCVU](
	[MACHUCVU] [varchar](5) NOT NULL,
	[TENCHUCVU] [nvarchar](30) NULL,
 CONSTRAINT [PK_TBL_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_HOADON]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_HOADON](
	[MAHDBAN] [varchar](5) NOT NULL,
	[MANV] [varchar](5) NULL,
	[NGAYBAN] [datetime] NULL,
	[MAKHACH] [varchar](10) NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_TBL_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHDBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_HOADONCT]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_HOADONCT](
	[MAHDBAN] [varchar](5) NOT NULL,
	[MASANPHAM] [varchar](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_TBL_HOADONCT] PRIMARY KEY CLUSTERED 
(
	[MAHDBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_KHACH]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_KHACH](
	[MAKHACH] [varchar](10) NOT NULL,
	[TENKHACH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_KHACH] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_LOAISANPHAM]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_LOAISANPHAM](
	[MASANPHAM] [varchar](5) NOT NULL,
	[LOAISANPHAM] [nvarchar](50) NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_TBL_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[MANV] [varchar](5) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[LUONG] [float] NULL,
	[MACHUCVU] [varchar](5) NULL,
 CONSTRAINT [PK_TBL_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_QUANLYTAIKHOAN]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_QUANLYTAIKHOAN](
	[MATAIKHOAN] [varchar](5) NOT NULL,
	[TENTAIKHOAN] [nvarchar](20) NULL,
	[MATKHAU] [nvarchar](20) NULL,
 CONSTRAINT [PK_TBL_QUANLYTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SANPHAM]    Script Date: 10/12/2020 1:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SANPHAM](
	[MASANPHAM] [varchar](5) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[LOAISANPHAM] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_TBL_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TBL_BAN] ([MASOBAN], [SOBAN], [TRANGTHAI], [SONGUOI]) VALUES (N'BAN1', 1, NULL, NULL)
INSERT [dbo].[TBL_BAN] ([MASOBAN], [SOBAN], [TRANGTHAI], [SONGUOI]) VALUES (N'BAN2', 2, NULL, NULL)
INSERT [dbo].[TBL_BAN] ([MASOBAN], [SOBAN], [TRANGTHAI], [SONGUOI]) VALUES (N'BAN3', 3, NULL, NULL)
INSERT [dbo].[TBL_CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'NV1', N'Nhân Viên')
INSERT [dbo].[TBL_CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'NV2', N'Nhân Viên')
INSERT [dbo].[TBL_CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (N'QL1', N'Quản Lí')
INSERT [dbo].[TBL_LOAISANPHAM] ([MASANPHAM], [LOAISANPHAM], [TENSANPHAM], [SOLUONG], [DONGIA]) VALUES (N'SP1', N'NUOC1', N'Sting', 100, 10000)
INSERT [dbo].[TBL_LOAISANPHAM] ([MASANPHAM], [LOAISANPHAM], [TENSANPHAM], [SOLUONG], [DONGIA]) VALUES (N'SP2', N'NUOC2', N'7up', 100, 10000)
INSERT [dbo].[TBL_LOAISANPHAM] ([MASANPHAM], [LOAISANPHAM], [TENSANPHAM], [SOLUONG], [DONGIA]) VALUES (N'SP3', N'MON1', N'Mì xào ốc móng tay', 100, 30000)
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNHANVIEN], [GIOITINH], [LUONG], [MACHUCVU]) VALUES (N'NV101', N'Nguyễn Văn Công', N'Nam', 10000000, NULL)
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNHANVIEN], [GIOITINH], [LUONG], [MACHUCVU]) VALUES (N'NV102', N'Nguyễn Thị Tú Trinh', N'Nữ', 7000000, NULL)
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNHANVIEN], [GIOITINH], [LUONG], [MACHUCVU]) VALUES (N'NV103', N'Nguyễn Cẩm Tú', N'Nữ', 7000000, NULL)
INSERT [dbo].[TBL_QUANLYTAIKHOAN] ([MATAIKHOAN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'1', N'admin', N'admin')
INSERT [dbo].[TBL_QUANLYTAIKHOAN] ([MATAIKHOAN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'2', N'nhanvien1', N'nhanvien')
INSERT [dbo].[TBL_QUANLYTAIKHOAN] ([MATAIKHOAN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'3', N'nhanvien2', N'nhanvien')
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADON_TBL_KHACH] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[TBL_KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[TBL_HOADON] CHECK CONSTRAINT [FK_TBL_HOADON_TBL_KHACH]
GO
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADON_TBL_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_HOADON] CHECK CONSTRAINT [FK_TBL_HOADON_TBL_NHANVIEN]
GO
ALTER TABLE [dbo].[TBL_HOADONCT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADONCT_TBL_HOADON] FOREIGN KEY([MAHDBAN])
REFERENCES [dbo].[TBL_HOADON] ([MAHDBAN])
GO
ALTER TABLE [dbo].[TBL_HOADONCT] CHECK CONSTRAINT [FK_TBL_HOADONCT_TBL_HOADON]
GO
ALTER TABLE [dbo].[TBL_HOADONCT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADONCT_TBL_LOAISANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[TBL_LOAISANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[TBL_HOADONCT] CHECK CONSTRAINT [FK_TBL_HOADONCT_TBL_LOAISANPHAM]
GO
ALTER TABLE [dbo].[TBL_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SANPHAM_TBL_LOAISANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[TBL_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[TBL_SANPHAM] CHECK CONSTRAINT [FK_TBL_SANPHAM_TBL_LOAISANPHAM]
GO

create function fu_createMASP()
returns varchar(5)
begin
	declare @MASPold varchar(5)
	select Top 1 @MASPold=MASANPHAM from TBL_LOAISANPHAM order by MASANPHAM desc
	return 'SP' + format(right(@MASPold,1)+1,'#')
end
go
create function fu_createMAHDBAN()
returns varchar(5)
begin
	declare @MAHDBANold varchar(5)
	select Top 1 @MAHDBANold=MAHDBAN from TBL_HOADON order by MAHDBAN desc
	return 'HD' + format(right(@MAHDBANold,3)+1,'###')
end
go
create function fu_createMAHDBANN()
returns varchar(5)
begin
	declare @MAHDBANold varchar(5)
	select Top 1 @MAHDBANold=MAHDBAN from TBL_HOADONCT order by MAHDBAN desc
	return 'HD' + format(right(@MAHDBANold,3)+1,'00#')
end
go
create function fu_createMABAN()
returns varchar(5)
begin
	declare @MABANold varchar(5)
	select Top 1 @MABANold=MASOBAN from TBL_BAN order by MASOBAN desc
	return 'BAN' + format(right(@MABANold,1)+1,'#')
end
go
create function fu_createSOBAN()
returns int
begin
	declare @SOBANold int
	select Top 1 @SOBANold=SOBAN from TBL_BAN order by MASOBAN desc
	return @SOBANold+1
end
select * 
from TBL_LOAISANPHAM hd join TBL_HOADONCT hdct on hd.MASANPHAM=hdct.MASAPHAM
create function fu_createMANK()
returns varchar(5)
begin
	declare @MANKold varchar(5)
	select Top 1 @MANKold=MASANPHAM from TBL_SANPHAM order by MASANPHAM desc
	return 'NK' + format(right(@MANKold,1)+1,'#')
end
go
create function fu_createMANK()
returns varchar(5)
begin
	declare @MANKold varchar(5)
	select Top 1 @MANKold=MASANPHAM from TBL_SANPHAM order by MASANPHAM desc
	return 'NK' + format(right(@MANKold,1)+1,'#')
end
go
create function fu_createMANV()
returns varchar(5)
begin
	declare @MANVold varchar(5)
	select Top 1 @MANVold=MANV from TBL_NHANVIEN order by MANV desc
	return 'NV' + format(right(@MANVold,3)+1,'###')
end
go
 select MASAPHAM,TENSANPHAM,sum(SOLUONG),Sum(GIA) from TBL_HOADONCT
 group by MASAPHAM, TENSANPHAM